#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# For ESlint
*.js  text eol=lf
*.jsx  text eol=lf