openapi: 3.0.0
info:
    version: '0.0.1'
    title: 'HazelNet External'
servers:
    - url: 'https://api.hazelnet.io'

paths:
    /community/whitelists/{whitelistName}/signups:
        get:
            summary: 'Get signups for a whitelist'
            operationId: getWhitelistSignups
            tags:
                - discord
                - whitelist
            parameters:
                - $ref: '#/components/parameters/WhitelistNamePathParameter'
            responses:
                '200':
                    description: 'All signups for this whitelist'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/WhitelistSignup'
                default:
                    $ref: '#/components/responses/DefaultErrorResponse'
    /community/whitelists/shared:
        get:
            summary: 'Get signups for all shared whitelists'
            operationId: getSharedWhitelistSignups
            tags:
                - discord
                - whitelist
            responses:
                '200':
                    description: 'All signups for all whitelists shared with this server'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/SharedWhitelist'
                default:
                    $ref: '#/components/responses/DefaultErrorResponse'

    /community/claimlists/{claimListName}/orders:
        get:
            summary: 'Get orders for a claim list'
            operationId: getClaimListOrders
            tags:
                - discord
                - claims
            parameters:
                - $ref: '#/components/parameters/ClaimListNamePathParameter'
            responses:
                '200':
                    description: 'All orders for this claim list'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/AnonymousPhysicalOrder'
                default:
                    $ref: '#/components/responses/DefaultErrorResponse'
    /community/claimlists/{claimListName}/products:
        get:
            summary: 'Get products for a claim list'
            operationId: getClaimListProducts
            tags:
                - discord
                - claims
            parameters:
                - $ref: '#/components/parameters/ClaimListNamePathParameter'
            responses:
                '200':
                    description: 'All products available for this claim list'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/PhysicalProduct'
                default:
                    $ref: '#/components/responses/DefaultErrorResponse'
    /community/assets/{discordUserId}/{policyId}:
        get:
            summary: 'Get all assets of a given policy ID from the wallets the respective Discord user has chosen to expose to the Discord server identified by the API token that is provided'
            operationId: getAssetsOfPolicyForDiscordUser
            tags:
                - discord
                - assets
            parameters:
                - $ref: '#/components/parameters/DiscordUserIdPathParameter'
                - $ref: "#/components/parameters/PolicyIdPathParameter"
            responses:
                '200':
                    description: 'A list of asset fingerprints in verified wallets of this user that the user has chosen to expose to the Discord server identified by the API token that is provided'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/AssetFingerprint"
                '403':
                    description: 'No wallets have been exposed by this user'
                default:
                    $ref: '#/components/responses/DefaultErrorResponse'

components:
    parameters:
        WhitelistNamePathParameter:
            name: whitelistName
            in: path
            description: The name of this whitelist
            required: true
            style: simple
            example: MyGoodList
            schema:
                type: string
        ClaimListNamePathParameter:
            name: claimListName
            in: path
            description: The name of this claim list
            required: true
            style: simple
            example: HoodieOrder
            schema:
                type: string
        DiscordUserIdPathParameter:
            name: discordUserId
            in: path
            description: The Discord Users's ID
            required: true
            style: simple
            schema:
                $ref: "#/components/schemas/DiscordUser"
        PolicyIdPathParameter:
            name: policyId
            in: path
            description: The Policy ID
            required: true
            style: simple
            schema:
                $ref: "#/components/schemas/TokenPolicyId"

    responses:
        DefaultErrorResponse:
            description: Unexpected error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'

    schemas:
        SharedWhitelist:
            type: object
            required:
                - guildId
                - guildName
                - whitelistName
                - whitelistDisplayName
                - signups
            properties:
                guildId:
                    type: integer
                    format: int64
                    example: 717264144759390238
                guildName:
                    type: string
                    example: Guild Name
                whitelistDisplayName:
                    type: string
                    minLength: 1
                    maxLength: 256
                whitelistName:
                    type: string
                    pattern: '^[A-Za-z][-A-Za-z0-9]{0,29}$'
                signups:
                    type: array
                    items:
                        $ref: '#/components/schemas/WhitelistSignup'

        WhitelistSignup:
            type: object
            required:
                - address
            properties:
                address:
                    $ref: '#/components/schemas/WalletAddress'
                signupTime:
                    type: string
                    format: date-time
                    example: 2021-11-10T13:20:57Z
        AnonymousPhysicalOrder:
            type: object
            required:
                - country
                - zipCode
                - city
                - street
                - items
            properties:
                id:
                    readOnly: true
                    type: integer
                    format: int64
                country:
                    type: string
                    example: Germany
                    minLength: 1
                    maxLength: 100
                zipCode:
                    type: string
                    example: 84323-2031
                    minLength: 1
                    maxLength: 30
                city:
                    type: string
                    example: Junkersdorf
                    minLength: 1
                    maxLength: 200
                street:
                    type: string
                    example: Burenstrasse 25
                    minLength: 1
                    maxLength: 500
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: '#/components/schemas/AnonymousPhysicalOrderItem'
                processed:
                    type: boolean
                    readOnly: true
        AnonymousPhysicalOrderItem:
            type: object
            required:
                - productId
                - count
            properties:
                productId:
                    type: integer
                    format: int64
                count:
                    type: integer
                    format: int64
        PhysicalProduct:
            type: object
            required:
                - name
            properties:
                id:
                    readOnly: true
                    type: integer
                    format: int64
                name:
                    type: string
                    example: T-Shirt
                variations:
                    type: object
                    example:
                        colors:
                            - Green
                            - Black
                            - Red
                        sizes:
                            - S
                            - M
                            - L
                            - XL
                            - XXL
        TokenPolicyId:
            type: string
            description: The Policy ID
            example: ceb5dedd6cda3f0b4a98919b5d3827e15e324771642b57e0e6aabd57
            pattern: "^[A-Za-z0-9]{56}$"
        AssetFingerprint:
            type: string
            description: The fingerprint of an asset
            example: asset1ls9tt8s03x2gcqjyppx346ct64jts7fnwsmequ
            pattern: "^asset1[A-Za-z-0-9]{38}$"
        DiscordUser:
            description: Snowflake ID matching a Discord user
            type: integer
            format: int64
            example: 717264144735590
        WalletAddress:
            type: string
        BlockchainType:
            type: string
            enum:
                - CARDANO
                - ETHEREUM
        CreatedResponseHeader:
            type: string
            format: uri
            description: URL of the newly created resource
        ErrorResponse:
            type: object
            required:
                - messages
                - httpStatus
                - httpStatusCode
            properties:
                messages:
                    type: array
                    items:
                        $ref: '#/components/schemas/ErrorMessage'
                httpStatus:
                    type: string
                httpStatusCode:
                    type: integer
                    format: int32
        ErrorMessage:
            type: object
            required:
                - message
            properties:
                message:
                    type: string
                sourceField:
                    type: string
    securitySchemes:
        BearerAuth:
            type: http
            description: You can receive your bearer token for the Authorization header using the Discord command '/configure-api generatetoken'
            scheme: bearer
            bearerFormat: '{token68}.???'
security:
    - BearerAuth: []